################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Frosted-Isles-Notify/obj/x86/Release
/.vs
/.vs
/.vs
/Frosted-Isles-Notify/obj/x86/Release
/.vs
